{% assign depth = page.url | split: '/' | size %}
{% assign dir = page.url | split: '/' | last %}

<ul>
{% for child in site.pages offset:1 %}
  {% if child.url == '/' %}
    {{ continue }}
  {% else %}
    {% assign path = child.url | split: "/" %}
    {% assign child_last = path | last %}
    {% assign child_parent = child.url | remove: child_last | split: '/' | last %}

    {% for slug in path offset:1 %}
      {% assign slug = slug %}
      {% assign slug_depth = forloop.index %}
    {% endfor %}

    {% if slug_depth == depth and dir == child_parent %}
      <li><a href="{{ child.url }}">{{ slug }}</a></li>
    {% endif %}

    {% if slug_depth == 1 and page.url == '/' and slug != 'search.json' and   slug != 'sitemap.xml' %}
      <li><a href="{{ child.url }}">{{slug}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
